body {
  background: none;
  background-image: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site{
  user-select: none;
}

.about{
  position: absolute;
  padding-bottom: 50px !important;
  width: 100%;
  height:auto;
  background-color:  whitesmoke; 
}

#AboutContent{
  font-family: 'Roboto';
  position: static;
  margin-top: 500px;
  padding-top: 0;
  padding-left: 250px !important;
  padding-right: 250px !important;
  padding-bottom: 50px;
  background-color: white;
}

#AboutContent span{
  text-align: justify;
  font-size: 1.2rem;
}

.banner{
  font-family: 'Roboto'; 
  font-weight:  lighter;
  margin: 0 auto;  
  background-image: url("../public/banner.webp"); 
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  height: 500px;
  width: 100%; 
  padding-top: 5%;
}

.banner h1{
  color: white;
  text-Align: center;
  font-Size: 3rem;
  font-weight: lighter !important;
}

.bannerText{
  padding-left: 14%;
  padding-right: 14%; 
  height: 100%;
}

.btnZaloguj{
  left: 39.5%;
  right: 0;
  width: 250px;
  margin-Top: 20px !important;
  margin-Bottom: 20px;
  pointer-events: initial;
}

.btnZaloguj:hover{
  background-color: #4444dd;
  color: gray;
}

.btnSlideDownBanner{
  cursor: pointer;
  color: whitesmoke;
}

.btnSlideDownBanner:hover{
  color: cornflowerblue;
}

.btnSlideDownBannerSecondary{
  cursor: pointer;
  color: cornflowerblue;
}

.btnSlideDownBannerSecondary:hover{
  color: silver;
}

.containers{
  margin-top: -50px;
}

.containerParent{
  box-shadow: -0.5rem 0.5rem #4444dd;
}

.container{
  color: white;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 40px;
  min-height: 200px;
  max-height: 200px;
}

.container img{
  padding-Left: 20%;
  padding-Top: 20px;
  width: 60%;
  pointer-events: none;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.appbar{
  padding-top: 5px;
  padding-bottom: 5px;
  /* display: inline; */
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
}

.logInContainer{
  margin-left:35%;
  margin-right:35%;
  padding-top: 3%;
  padding-bottom: 5%;
  height: auto;
  background-color: whitesmoke;
  font-style: Roboto;
  font-weight: lighter;
  color: black;
  border-radius: 15px;
}

.logInContent{
  margin-left: 30%;
  margin-right: 30%;
  height: auto;
}

.logInContent span{
  float: left;
}

.logInContent input{
  float: right;
  width: 143px; 
}

.logInButton{
  border: 0;
  width:150px !important;
  height: 30px;
  Color: white;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 5px;
}

.logInButton:hover{
  filter: brightness(50%)
}

.logInButton:after{
  filter:brightness(0)
}

.logInLine{
  margin: 0 auto;
  margin-bottom: 10px;
}

.Avatar{
  margin-top: 15px;
  float: right; 
  margin-right: 22%;
}

.Avatar img{
  transition: 0.5s;
}

.Avatar img:hover{
  filter: brightness(50%);
}

.Offer{
  position: static;
  padding-top: 20px;
  padding-left: 250px !important;
  padding-right: 250px !important;
  padding-bottom: 50px;
  background: whitesmoke;/*linear-gradient(rgb(218, 218, 218), rgb(240, 240, 240)); */
}

.offer h1{
  font-family: 'Roboto';
  font-weight: Bolder;
}

@media screen and (max-width: 1200px) {
  .banner{
    height:auto;
    padding-bottom: 20px;
  }
  
  .banner h1{
    color: white;
    text-Align: center;
    font-size: 150% !important;
  }

  .bannerText{
    height: auto;
  }

  .btnZaloguj{
    display: none !important;
  }

  .container h2{
    font-size: 70%;
  }

  .container{
    width:400px;
  }

  .container span{
    font-size: 70%;
  }

  .container img{
    padding-Left: 0;
    width: 100%;
  }

  .containerParent{
    margin-top: 30px;
    width:400px;
  }
}
.interactive {
  text-decoration: none;
  color: white;
}

.interactive:hover{
  text-decoration: none;
  color: #4444dd;
}



/*slide w Offer*/
 /* Slideshow container */
 .slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;} 